/* CSS Document */

#footerBtn
{
	width:17%; 
	font-size:6px; 
	margin-top:-8px;
}

#footerBtn p
{
	margin-top:-13px;
	font-size:10px;
	color:white;
}


.colorsBtn
{
	padding:0px 0px 1px 0px;
	background-color:#03F; 
	border-radius:3px; 
	margin-top:7px;
	width:20px; 
	color:white; 
	text-align:center; 
	font-weight:bold; 
	font-size:9px;
}

 .modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
    .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}


