<ion-view class="layouts-view">

  <ion-nav-title>
    <span>iWater</span>
  </ion-nav-title>
  <ion-content ng-controller="LoginCtrl">

  <div align="center">
  <h5 style="font-size:20px; font-weight:bold;">ישנם נתונים חדשים</h5>
  <h5 style="font-size:20px; font-weight:bold;">שלא מסוכנרנים</h5>
  <p>אתה צריך להוריד את הנתונים מהשרת</p>
<button style="width:50%;" class="button icon-right ion-android-download button-calm">סנכרן נתונים</button>
 
</div>
 </ion-content>
</ion-view>
