<ion-view class="layouts-view">

  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span>iWater</span>
	</a>
  </ion-nav-title>
 <ion-content ng-controller="MainCtrl"> 
  <div class="row">
  <div class="col col-20">
  	<div ng-click="allTasksBtn()" style="width:40px; cursor:pointer;  background-color:{{''|getCurrentColor}}; border-radius:20px; text-align:center; padding:10px;">
    	<span style="padding-top:10px; padding-left:0px; color:white; font-weight:bold; text-align:center;" >{{alertnumber}}</span>
    </div>
  </div>
  <div class="col col-80">
      <div style="direction:rtl; text-align:right; font-size:25px;">שלום {{fullname}}</div>
      <div style="text-align:right; padding-top:14px; padding-bottom:4px; "> יש1 לך {{alertnumber}} משימות חדשות </div>
  </div>
  
    
  
  </div>
  
  <a href="#/app/calls/{{row.id}}" class="row item"  style="white-space:normal !important; padding:10px 0 10px 0;" ng-repeat="row in watches | limitTo:quantity">
  <div class="col col-25" style="padding-top:13px; padding-left:13px;" ><i class="icon ion-chevron-left"></i></div>
  <div class="col col-50" style="text-align:right;">{{row.title}}</div>
  <div class="col col-10"><div class="colorsBtn" style="background-color:{{''|getCurrentColor}}">{{row.mission_num}}</div></div>
  <div class="col col-25" style="text-align:center; padding-right:30px; font-size:12px; padding-top:8px;">{{ row.start_date | getCurrentDate }}</div>
  </a>


<!-- <div class="bar bar-footer" style="float:right; text-align:right; position:relative; bottom:30px;">
  <div><button class="button button-clear pull-right" ng-click="allTasksBtn()"><i class="icon ion-clipboard"></i> משימות</button></div>
  <div><button class="button button-clear pull-right" ng-click="notificationsBtn()"><i class="icon ion-speakerphone"></i> הודעות חדשות</button></div>
</div> -->

<div class="row" align="center" style="padding-top:20px;">
	
    	<div class="col col-50" ng-click="allTasksBtn()">
			<a class="button icon-right icon ion-clipboard button-positive" style="width:100%;">משימות</a>
        </div>
        <div class="col col-50" ui-sref="app.notifications">
			<a class="button icon-right icon ion-speakerphone button-calm" style="width:100%;">הודעות</a>
        </div>
</div>
<div class="row" align="center">
        <div class="col col-50" ui-sref="app.export">
			<a class="button icon-right ion-android-exit button-balanced" style="width:100%;">יצא נתונים</a>
        </div>
        <div class="col col-50" ui-sref="app.import">
			<a class="button icon-right ion-android-download button-assertive"  style="width:100%;">יבא נתונים</a>
        </div>
    
</div>

  </ion-content>
</ion-view>
