<ion-view class="profile-view">
  <ion-nav-title>
    <span>Profile</span>
  </ion-nav-title>
  <ion-content ng-controller="ProfileCtrl">
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">{{name}}</div>
	
      </div>
      <div class="user-background-image-outer">
        <div multi-bg="['https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg']"></div>
      </div>
    </div>	
	 <div class="bottom-content">
	
	<div class="list">
	
				  <label class="item item-input">
				<span class="input-label">Your Name</span>
				<input type="text" ng-model="name">
			  </label>
			  
			  <label class="item item-input">
				<span class="input-label">Old Password</span>
				<input type="password" ng-model="opassword">
			  </label>
			  
			  <label class="item item-input">
				<span class="input-label">New Password</span>
				<input type="password" ng-model="npassword">
			  </label>
	
		<div class="padding">
        <button ng-click="changepwdBtn()" class="button button-block button-positive">Update</button>
      </div>
	
	</div>
	</div>
	<!--
    <div class="bottom-content">
      <div class="user-bio">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      </div>
    </div>
	-->
  </ion-content>
</ion-view>
