<ion-view class="layouts-view">
 
  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span>iWater Water Calls</span>
	</a>
  </ion-nav-title>
 <ion-content ng-controller="CallsCtrl"> 
 

  <div class="row" align="center" style="">
	
    	<div class="col col-50"  ui-sref="app.export">
			<a class="button icon-right ion-close button-calm"  style="width:100%;">יצוא נתונים</a>
        </div>
        <div class="col col-50" ng-click="statsModal()">
			<a class="button icon-right ion-checkmark button-calm" style="width:100%;">סטטיסטיקה</a>
        </div>
</div>


 <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" style="direction:rtl;" ng-model="searchCalls" placeholder="חיפוש...">
  </label>
</div>

  
<a href="#/app/clock/{{row.id}}" class="row item"  style="white-space:normal !important;  padding:10px 0 10px 0;" ng-repeat="row in calls | filter:searchCalls | filter:searchArray():true">
  	
    <div class="col col-30">
      <div ng-switch on="row.status">
       		<span ng-switch-when="1"><button class="button icon-right ion-android-done-all button-positive" style="width:70%" >נקרא</button></span>
       		<span ng-switch-default><button class="button icon-right ion-android-cancel button-balanced" style="width:100%" >לא נקרא</button></span>
      </div>
    </div>
    <div class="col col-60">
        <p style="text-align:right">{{row.custumer}}</p>
        <p style="text-align:right">מספר שעון: {{row.clock_number}} </p>
    </div>
    <!-- <div class="col col-25" style="text-align:right; font-size:10px;">{{row.start_date}}</div> -->
    <div class="col col-10"><i class="icon ion-information-circled"></i></div>
</a>



<div style="padding-top:100px;">
</div>

<div class="bar bar-footer" align="center" style="position:fixed; bottom:0">


	 <div class="row" align="center" style="font-size:9px;">
	
			<div class="col col-30" ng-click="AddNewPage()">
			<a class="button icon-right ion-plus button-calm" style="width:100%;"></a>
        </div>
		
			<div class="col col-30" ng-click="sortArray('4')">
			<a class="button icon-right  button-calm" style="width:100%;">הכל</a>
        </div>
		
		
			<div class="col col-30" ng-click="sortArray('3')">
			<a class="button icon-right  button-calm" style="width:100%;">נקרא</a>
        </div>
		
		
		 <div class="col col-30" ng-click="sortArray('2')">
			<a class="button icon-right  button-calm" style="width:100%;">חדש</a>
        </div>
		
		 <div class="col col-30" ng-click="sortArray('1')">
			<a class="button icon-right button-calm" style="width:100%;">אפסים</a>
        </div>
		
		
		 <div class="col col-30" ng-click="ReversArray()">
			<a class="button icon-right  button-calm" style="width:100%;">הפוך</a>
        </div>
		
		

		
		
		
</div>





</div>




		


  </ion-content>
</ion-view>
