<ion-view class="layouts-view">

  <ion-nav-title>
  <a href="#/app/main" style="text-decoration:none;">
    <span>iWater Push</span>
	</a>
  </ion-nav-title>
 <ion-content ng-controller="PushCtrl"> 

  
  <a href="#/app/calls/{{row.id}}" class="row item"  style="white-space:normal !important; padding:10px 0 10px 0;" ng-repeat="row in notifications">
  <div class="col col-25" ><i class="icon ion-arrow-left-c"></i></div>
  <div class="col col-50" style="text-align:right;">{{row.title}}</div>
  <div class="col col-25" style="text-align:right; font-size:10px;">{{row.date}}</div>
  </a>




  </ion-content>
</ion-view>
