  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">סטטיסטיקה</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="statsModalClose()">סגירה</button>
    </div>
    </ion-header-bar>
    <ion-content>
	
     <div class="row" align="center" style="margin-top:-15px;">
	
    	<div class="col col-50" ng-click="allTasksBtn()">
			<a class="button icon-right ion-close button-positive" style="width:100%;">לא קריא : 55</a>
        </div>
        <div class="col col-50" ui-sref="app.notifications">
			<a class="button icon-right ion-checkmark button-calm" style="width:100%;">תקין : 212</a>
        </div>
</div>
<div class="row" align="center" style=" padding-bottom:20px;">
        <div class="col col-50" ui-sref="app.export">
			<a class="button icon-right ion-wrench button-balanced" style="width:100%;">שבור : 12</a>
        </div>
        <div class="col col-50" ui-sref="app.import">
			<a class="button icon-right ion-alert-circled button-assertive"  style="width:100%;">אין גישה : 32</a>
        </div>
    
</div>

    </ion-content>
  </ion-modal-view>
