<ion-view class="layouts-view">

  <ion-nav-title>
 	 <a href="#/app/main" style="text-decoration:none;">
    	<span>iWater Clock</span>
	 </a>
  </ion-nav-title>
 <ion-content ng-controller="ClockCtrl"> 

<div class="row item" > 
     <div class="icon-right col col-100" style="text-align:right; color:red; font-weight:bold; font-size:20px;" >
       {{customname}} &nbsp;&nbsp; מספר שעון : {{clockid}}
     </div>
</div>
<!--
<div class="item" style="text-align:right">
  	<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">מספר שעון : {{clockid}} </span></div>
</div>
-->
<label class="item item-input">
    <input type="number" ng-model="fields.currentcall" placeholder="הכנס קריאה נוכחית" style="text-align:right">
</label>

<div class="item" style="padding:1px !important;">
<!--	 
        <div class="col col-100"   style="color:red; font-weight:bold; text-align:right; float:right"> קוד מצב</div>  
-->
	<div class="row" > 
    	 <div  class="col col-20 " style="margin-top:8px; margin-right:15px;" >
            <i class="icon ion-minus-circled" ng-click="quantClick(2)" style="color:black; font-size:33px;"></i>
            <i class="icon ion-plus-circled" ng-click="quantClick(1)" style="color:black; font-size:33px;"></i>
        </div>
        <div  class="col col-20 item" style="margin-top:10px; margin-left:10px; height:40px;" >
            <input type="number" ng-model="$parent.statuscode"   pattern="[1-5.]+" max="5" min="1" placeholder=""  value="" />
        </div>
         <select class=" col col-40 item" style="margin-top:10px; margin-left:30px;" ng-model="$parent.statuscode" ng-change="ComboChange()">
     			  <option value="1">תקין</option>
      			  <option value="2">לא קריא</option>
                  <option value="3">שבור</option>
                  <option value="4">אין גישה</option>
                  <option value="5">כלב בחצר</option>
    	</select>
       
    </div>
    
</div>   
<!-- <div class="list list-inset" align="center">




<div class="item" style="text-align:right">
  	<div  style="direction:rtl; text-align:right; padding-left:6px;">שם מלא של הלקוח : {{customname}}</div>
  </div>
 
  <label class="item item-input">
    <input type="text" placeholder="הכנס קריאה נוכחית" style="text-align:right">
  </label>
  
   
   
    <div class="item">
         	   <div class="" style="text-align:right; ">
                  קוד מצב
                </div>
              <label class="item item-select" style="margin-top:10px;">
                <select>
                  <option value="0" selected="selected">לא קריא</option>
                  <option value="1">שבור</option>
                  <option value="2">אין גישה</option>
                  <option value="3">כלב בחצר</option>
                </select>
              </label>
         
	</div>
    </div> 
	<!-- 
    
    
  <div class="col col-33">
    <select ng-model="statuscode">
      <option value="0">לא קריא</option>
      <option value="1">שבור</option>
      <option value="2">אין גישה</option>
	 <option value="3">כלב בחצר</option>
    </select>
  </div>
  <div class="col col-33"><input type="text"  placeholder="קוד מצב"></div> 
</div> -->
<div style="position:absolute; margin-left:20px; margin-top:30px; z-index:10;">
	<div ng-click="showMoreinfo()">
	<i class="icon ion-ios-information-outline"  style="color:black; font-size:33px;"></i>
    </div>
</div>
<div class="card item"  style="background-color:#f5f5f5">
 <div class="row">
  <div class="col" style="direction:rtl;">{{prevcall}}</div>
  <div class="col" style="direction:rtl;">קריאה קודמת:</div>
</div>

 <div class="row">
  <div class="col" style="direction:rtl;">{{consumption}}</div>
  <div class="col" style="direction:rtl;">צריכה:</div>
</div>

 <div class="row">
  <div class="col" style="direction:rtl;">{{address}}</div>
  <div class="col" style="direction:rtl;">כתובת:</div>
</div>

 <div class="row">
  <div class="col" style="direction:rtl;">{{remarks}}</div>
  <div class="col" style="direction:rtl;">הערות:</div>
</div>

</div>

<div id="Gallery" class="gallery">
<div class="row">
  <div class="col col-25"><input type="file" id="fileUPP" name="fileUPP" onchange="angular.element(this).scope().onFileSelect(this)"></div>
  <!--
  <div class="col col-15"><a href="img/gallery/1.jpg"><img src="img/gallery/1.jpg" width="30" height="30"></a></div>
  <div class="col col-15"><img src="img/gallery/2.jpg" width="30" height="30"></div>
    <div class="col col-15"><img src="img/gallery/3.jpg" width="30" height="30"></div>
	-->
</div>

<div class="row">
	 <div id="images" ng-repeat="row in watchesimages" style="padding-left:5px; margin-top:10px;" >
  		<img src="{{imageurl}}/{{row.image}}" width="55" height="55" style="border-radius:5px;" ng-click="goToSlide($index)">
  	 </div>
</div>
<!--
	<div class="row">
	<div id="images" align="center" ></div>
	</div>
-->
	
	</div>
	
	
<div class="row">
<button class="button icon-chevron-left ion-checkmark button-block button-assertive" ng-click="saveChanges()" style="direction:rtl;">
  שמור נתונים
</button>
</div>

<div class="row" style="margin-top:-20px">
    <button class="button icon-chevron-right ion-trash-a button-block button-assertive col col-40" style="margin-left:0px; direction:rtl; margin-right:2px" ng-click="cancelBtn()">
      בטל
    </button>
     <button class="button icon-chevron-left ion-refresh button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" ng-click="resetBtn()">
      איפוס
    </button>
</div>


</div>
	 <script id="image-modal.html" type="text/ng-template">
           <!--   <div class="modal image-modal transparent" ng-click="closeModal()" style="width:100%;" >
                   <!--   <img ng-src="{{imageurl}}{{currentImage}}" style="width:100%" />
                    <!--  <p class="info" style="text-align:right">לחץ על התמונה לסגירה</p>
             <!--   </div> -->
			<div> 
			 <div style="width:100%; height:{{screenHeight}}px; background-color:white">
				<ion-slide-box active-slide="myActiveSlide" >
					  <ion-slide ng-repeat="row in watchesimages">
						<img src="{{imageurl}}/{{row.image}}" style="width:100%" />
					  </ion-slide>
				</ion-slide-box>
			</div>
				<div class="row" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
					 <button ng-click="closeModal()"  class="button icon-chevron-left ion-close button-block button-assertive col col-40" style="margin-left:2px; direction:rtl; margin-right:0px" >
					  סגור
					</button>
					<button class="button icon-chevron-right ion-trash-a button-block button-assertive col col-40" style="margin-left:0px; direction:rtl; margin-right:2px" ng-click="deleteImage()">
					  מחק
					</button>
				</div>
		   </div>
			
			
     </script>
  </ion-content>
</ion-view>
