<ion-view class="layouts-view">

  <ion-nav-title>
    <span>iWater</span>
  </ion-nav-title>
  <ion-content ng-controller="LoginCtrl">

 <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="username" >
          <span class="input-label">שם משתמש</span>
        </label>
        <label class="item item-input">
          <input type="password" ng-model="password">
           <span class="input-label">סיסמה</span>

        </label>
      </div>
	
	<div class="padding">
        <button ng-click="LoginBtn()" class="button button-block button-positive">כניסה</button>
      </div>
	  
	  
  </ion-content>
</ion-view>
