  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">פרטים נוספים</h1>
	  <div class="buttons">
      <button class="button button-clear" ng-click="showMoreinfoClose()">סגירה</button>
    </div>
    </ion-header-bar>
    <ion-content>
      
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">שם לקוח : </span> {{customname}} </div>
	</div>
	
	

		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">מספר שעון : </span> {{clockid}} </div>
	</div>
	
	
		<div class="item" style="text-align:right"> 
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">קריאה קודמת : </span> {{prevcall}} </div>
	</div>
	
	
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">צריכה : </span> {{consumption}}</div>
	</div>
	
	
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">כתובת : </span> {{address}} </div>
	</div>
	
		
		<div class="item" style="text-align:right">
		<div  style="direction:rtl; text-align:right; padding-left:6px;"><span style="color:red; font-weight:bold">הערות : </span> {{remarks}} </div>
	</div>
	

    </ion-content>
  </ion-modal-view>
